$font-colour: #F5F7FB;

* {
  font-family: 'Dosis', sans-serif;
}

body {
  background-color: #CADCE7;
  min-height: 100vh;
  min-width: 100vw;
}

nav.navbar {
  background-color: transparent;
}
.navbar {
  // background-color: none;
  .navbar-item{
  color: $font-colour;
  font-weight: bold;
  font-size: 25px;
  text-shadow: 1px 1px 5px #000000;
  transition: color 1s ease;

  &:hover {
    color: black;
    text-shadow: none;
    text-shadow: 2px 2px 5px $font-colour;
    font-weight: bolder;
  }
  }
}

.bg{
  min-height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100vw;
  transition: background-image 10s;
}
.bg-0{
  background-image: url('/assets/Australia_Uluru.jpg');
}
.bg-1{
  background-image: url('/assets/D1024_57_242_1200.jpg');
}
.bg-2{
  background-image: url('/assets/australia.jpg');
}
.bg-3{
  background-image: url('/assets/japan.jpg');
}
.bg-4{
  background-image: url('/assets/northern.jpg');
}
.bg-5{
  background-image: url('/assets/petra.jpg');
}
.bg-6{
  background-image: url('/assets/pyramids.jpg');
}

h1.title.is-1 {
  font-size: 150px;
  color:$font-colour;
  padding-top: 250px;
  text-shadow: 2px 2px 10px #000000;
}
h3.title.is-1 {
  color:$font-colour;
  text-shadow: 2px 2px 10px #000000;
}

form {
  padding: 30px;
  margin: auto;
  border: 1px solid grey;
  border-radius: 5px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.3);
}
.react-mapbox-ac-input{
  background-color: white;
      border-color: #dbdbdb;
      color: #363636;
      box-shadow: inset 0 1px 2px rgba(10, 10, 10, 0.1);
      max-width: 100%;
      width: 100%;
      -webkit-appearance: none;
align-items: center;
border: 1px solid transparent;
border-radius: 4px;
box-shadow: none;
display: inline-flex;
font-size: 1rem;
height: 2.25em;
justify-content: flex-start;
line-height: 1.5;
padding-bottom: calc(0.375em - 1px);
padding-left: calc(0.625em - 1px);
padding-right: calc(0.625em - 1px);
padding-top: calc(0.375em - 1px);
position: relative;
vertical-align: top;
}
.add-place button{
  width: 100%;
}
// input.input {
//   max-width: 50%;
// }

button.button {
  background-color: #94B0DA;
  color: $font-colour;
  font-weight: bold;
}

.button-add-remove {
  float: right;
}

figure.image {
  border-radius: 5px;
}

.image {
  height: 100%;
  width: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

#map{
  height: 100vh;
}
.marker{
  max-width: 20px;
}
/* entire container, keeps perspective */
.flip-container {
	perspective: 800px;
}
	/* flip the pane when hovered */
	.flip-container:hover .flipper, .flip-container.hover .flipper {
		transform: rotateY(180deg);
	}

.flip-container, .front, .back {
	width: 280px;
	height: 250px;
}

/* flip speed goes here */
.flipper {
	transition: 2s;
	transform-style: preserve-3d;
	position: relative;
}

/* hide back of pane during swap */
.front, .back {
	backface-visibility: hidden;
	position: absolute;
	top: 0;
	left: 0;
}

/* front pane, placed above back */
.front {
	z-index: 2;
	/* for firefox 31 */
	transform: rotateY(0deg);
}

div.place-title {
  width: 100%;
}

.text-overlay {
  width: 100%;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: $font-colour;
  font-size: 35px;
  font-weight: bolder;
  border-radius: 5px;
  // background-color: rgba(0,0,0,.2);
}

#front {
  text-shadow: 2px 2px 10px #000000;
}

/* back, initially hidden pane */
.back {
  font-size: 20px;
	transform: rotateY(180deg);
  background-color: rgba(255,255,255,0.2);
  background-size: cover;
}

#back {
  font-size: 18px;
  color: $font-colour;
  background-color: rgba(0,0,0,0.7);
  height: 100%;
  padding-top: 25px;
}

//SHOW PAGE
section.section {
  padding: 1rem 1.5rem;
}
h2.title {
  text-align: center;
  margin-bottom: 1em;
  font-size: 50px;
  text-shadow: 1px 1px 5px #000000;
  color: $font-colour;
}

.button {
  background-color: #94B0DA;
  color: #F5F7FB;
  font-weight: bold;
}

.drag-title {
  font-size: 20px;
}
//
h4.title.is-4 {
  font-size: 20px;
  margin: auto;
  padding: 0 0 10px 0;
}

#show-image {
  height: 500px;
  width: 500px;
  margin-left: 0;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 5px;
  border-radius: 5px;
}

#show-description, #budget, #ask-login {
  margin-top: 30px;
}

//DASHBOARD
.dash-title {
  text-align: center;
  font-size: 50px;
  padding-top: 15px;
  margin: none;
}

#map {
  margin: auto;
  height: 600px;
  width: 800px;
  border-radius: 5px;
}

.dashboard-trip{
    height:50px;
    & .front {
      position: relative;
      width: 100%;
      height: 50px;
    }
}

h5 {
  margin-bottom: 15px;
}

// div .level {
//   padding-top: 10px;
// }

.temp {
  margin-top: 5px;
}

.add-trip{
  margin-top: 10px;
  border-radius: 5px;
  border: 2px solid white;
  text-align: center;
  height: 50px;
  width: 100%;
  padding-top: 8px;
  color: white;
  padding-top: 10px;
  background-color: #94B0DA;
}

.add-trip:hover {
  background-color: #6e94cc;
}

//LOADING
@keyframes rotate {
  0% {transform: rotate(0deg);}
  25% {transform: rotate(-90deg);}
  50% {transform: rotate(-180deg);}
  75% {transform: rotate(-270deg);}
  100% {transform: rotate(-360deg);}
}

div#loading {
  width: 250px;
  height: 250px;
  margin: 20vh auto;
  background-image: url('http://pngimg.com/uploads/globe/globe_PNG52.png');
  animation: rotate 5s linear infinite;
}

.descriptLong {
  text-align: justify;
}

.dashboard-trip #front {
  font-size: 22px;
  text-shadow: 2px 2px 5px #000000;
}

.custom-marker {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 2.5em;
  width: 2.5em;
  border-radius: 50%;
  transition-property: height, width;
  transition-duration: .5s, .5s;
  cursor: pointer;
}

.custom-marker:hover {
  height: 10em;
  width: 10em;
}

.custom-marker img {
  justify-content: center;
}

.mapboxgl-popup-close-button {
  display: none;
}

.card-content {
  margin: 0 0 10px 0;
}

.weather {
  padding: 20px 0;
  margin-top: 15px;
}

.add {
  justify-content: center;
  display: flex;
}

.commentBox {
  margin-top: 15px;
}

hr {
  margin: 15px 0;
}

.comment-form {
  border: none;
  box-shadow: none;
}
